
GitExplorer/GitExplorer.xcodeproj/project.xcworkspace/xcuserdata/iliescurazvan.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
GitExplorer/GitExplorer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
